/*This is the css for the webapp */


/*This sets up the background image and font for the website as a whole*/
#main {
background-image: url("/background");
background-repeat: no-repeat;
background-size: cover;
}
body {
font-family:Arial, sans-serif;
}
#topheader{
  position: absolute;
  width: 95%;
  left: 2.5%;
  top: 2.5%;
  background-color: lightgrey;
  text-align: left ;
  border: 2px white;
  border-radius: 10px;
}

/* This section codes for the login screen */
#login-loginform {
    position: absolute;
    top: 70%;
    width: 33%;
    left: 33%;
    top: 20%;
    background-color: lightgrey;
    text-align: center ;
    border: 2px white;
    border-radius: 10px;
  }
  form {
  padding: 20px
  
  }

input[type=text] {
    width: 50%;
    padding: 5px ;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid darkgrey;
    outline: none;
    float: center;
    font-family:Arial, sans-serif;
  }
  input[type=password]{
    width: 50%;
    padding: 5px ;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid darkgrey;
    outline: none;
    float: center;
    font-family:Arial,sans-serif;  
  }
  #h2-login {
  text-align: center ;
  font-family:Arial, sans-serif;
  }
  
  #submit{
   width:20%;
   padding:5px ;
   margin: 8px 0;
   box-sizing: border-box;
   border: 1px solid darkgrey;
   outline: none;
   float: center;
   font-family: Arial,sans-serif;
  
  
  }
  
  input[type=text]:focus {
    background-color: lightblue;
  }
  input[type=password]:focus{
    background-color: lightblue;
  }

  /* This section codes for the lauchpad page*/

  #th-title{
    width:50%;
    float:left;
    margin-left:1%;
  }
  #th-points{
    width:25%;
    float:left;
    text-align: right;
  }
  #th-logout{
    width:10%;
    float:right;
  }
  #th-logout-form{
    width:24%;
    float:right;
  }

  #mainbody{
    position:absolute;
    top: 15%;
    height:80%;
    width: 95%;
    left: 2.5%;

  }

  #mb-ver-1{
    width:30%;
    float:left;
    background-color: lightgrey;
    text-align: center ;
    border: 2px white;
    border-radius: 10px;
    margin:1%;
  }
  #mb-ver-2{
    width:30%;
    float:left;
    background-color: lightgrey;
    text-align: center ;
    border: 2px white;
    border-radius: 10px;
    margin:1%;
  }
  #mb-ver-3{
    width:30%;
    float:left;
    background-color: lightgrey;
    text-align: center ;
    border: 2px white;
    border-radius: 10px;
    margin:1%;
  }

  #mb-desc{
    text-align:left;
    size:20px;
    margin:2.5%;
  }

  #tutorial-left{
    margin-top:1%;
    width:55%;
    float:left;
  }
  #tutorial-right{
    margin-top:5%;
    width:45%;
    float:left;
    align-items:center;
  }
  /* Ceaser cipher page */
  #c-th-title{
    width:65%;
    float:left;
    margin:2px;
  } 
  #c-th-homebutton{
    width:10%;
    float:left;
    margin:2px;
  }
  #c-th-name{
    width:10%;
    float:left;
    margin:2px;
    text-align:center;
  }
  
  #c-th-tutorial{
    width:10%;
    float:left;
    margin:2px;
  }

  #c-tutorial{
    position:absolute;
    display:block;
    top: 10%;
    height:80%;
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    background-color: lightgrey;
    text-align: left ;
    border: 2px white;
    margin-top:1%;
    border-radius: 10px;
  }

  #c-tutorial h2{
    margin:1%;
    margin-bottom:0%;
  }
  #c-tutorial h4{
    margin:1%;
    margin-bottom:0%;
  }

  #c-body{
    position:absolute;
    display:block;
    top: 10%;
    height:85%;
    width: 95%;
    left: 2.5%;
    right:2.5%;
    background-color: lightgrey;
    text-align: left;
    margin-top:1%;
    border: 2px white;
    border-radius: 10px;
  }