<!DOCTYPE html>
<html lang="en-GB" id="main">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../style.css">
	<link rel="icon" type="image/x-icon" href="/favicon">
	<title>Ceaser - CipherSchool</title>
</head>
<body>
	<div id="topheader">
		<h3 id="c-th-title">The Ceaser Cipher</h3>
		<form action="#">
			<input type="submit" id="c-tutorial" value="Show Tutorial">
		</form>
		<h3 id="c-th-points">{{name}} you have {{points}} points! </h3>
		<form action="/launchpad">
			<input type="submit" id="c-homebutton" value="Return Home">
		</form>
	</div>
	<div id="c-instructions">
		<h1>Heres what to do...</h1>
	</div>
	<div id="c-body">
		<h1>Main content.</h1>
	</div>
</body>
</html>
