<!DOCTYPE html>
<html lang="en-GB" id="main">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../style.css">
	<link rel="icon" type="image/x-icon" href="/favicon">
	<title>Ceaser - CipherSchool</title>
</head>
<body>
	<div id="topheader">
		<div id="c-th-title">
			<h3>The Ceaser Cipher {{name}}</h3>
		</div>
		<div id="c-th-tutorial">
			<form action="#">
				<input type="submit"  value="Show Tutorial">
			</form>
		</div>
		<div id="c-th-homebutton">
			<form action="/launchpad">
				<input type="submit"  value="Return Home">
			</form>
		</div>
	</div>
	<div id="c-instructions">
		<h1>Heres what to do...</h1>
	</div>
	<div id="c-body">
		<h1>Main content.</h1>
	</div>
</body>
</html>
