<!DOCTYPE html>
<html lang="en-GB" id="main">

<head>
  <link rel="stylesheet" href="../style.css">
</head>

<body id="login-loginform">

  <form action="#" method="GET" autocomplete="off" accept-charset="utf-8">

    <h2 id="h2-login">CipherSchool Login</h2>
    <h3>{{error}}</h3>
    <input type="text" name="uname" placeholder="Username" id="uname"><br>
    <input type="password" name="passwd" placeholder="Password" id="passwd"><br>
    <input type="submit" id="submit" label="Login" value="Login">
  </form>
</body>

</html>
