<!DOCTYPE html>
<html lang="en-GB" id="main">
<head>
	<link rel="stylesheet" href="/style.css">
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="/favicon">
	<title>CipherSchool Launchpad</title>
</head>
<body>
	<div id="topheader">
		<h3 id="th-title">Welcome {{name}}</h3>
		<h3 id="th-points">You have {{points}} points! </h3>
		<form action="/">
			<input type="submit" id="th-logout" value="Logout">
		</form>
	</div>
	<div id="mainbody">
		<div id="mb-ver-1">
			<h3>The Caeser Cipher</h3>
			<h5 id="mb-desc">This cipher is one of the most basic and was invented by a famous roman leader! The quicker you crack
				this code the more points you collect! Good luck.</h5>
			<form action="/caesercipher">
				<input type="submit" id="mb-1-start" value="Start">
			</form>
		</div>
		<div id="mb-ver-2">
			<h3>The Moving Key Cipher</h3>
			<h5 id="mb-desc">This builds upon the previous code but with a small addition each letter.</h5>
			<form action="/movingkeycipher">
				<input type="submit" id="mb-2-start" value="Start">
			</form>
		</div>
		<div id="mb-ver-3">
			<h3>The Multistage Cipher</h3>
			<h5 id="mb-desc">This challanges your ability to follow multi-step procedures and use multiple techniques, good luck!</h5>
			<form action="/superenciphercipher">
				<input type="submit" id="mb-3-start" value="Start">
			</form>
		</div>
	</div>
</body>
</html>