<!--This is the code for the launchpad page-->
<!DOCTYPE html>
<html lang="en-GB" id="main">
<head>
	<link rel="stylesheet" href="/style.css">
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="/favicon">
	<title>CipherSchool Launchpad</title>
</head>
<body>
	<!--This sets up at top header bar-->
	<div id="topheader">
		<h3 id="th-title">Welcome {{name}}</h3>
		<h3 id="th-points">You have {{points}} points! </h3>
		<form action="/">
			<input type="submit" id="th-logout" value="Logout">
		</form>
	</div>

	</div>
	<!--This creates the 3 columns one for each cipher-->
	<div id="mainbody">
		<div id="mb-column">
			<h3>The Caesar Cipher</h3>
			<img src="/caesarwheelimg" id="mb-img">
			<h5 id="mb-desc">This cipher is one of the most basic and was invented by a famous roman leader! The quicker you crack
				this code the more points you collect! Good luck.</h5>
			<!--These forms just redirect the user to the cipherpage and gets app.py to setup the page-->
			<form action="/caesarcipher">
				<input type="submit" id="mb-1-start" value="Start">
			</form>
		</div>
		<div id="mb-column">
			<h3>The Moving Key Cipher</h3>
			<img src="/movingkeyimg" id="mb-img">
			<h5 id="mb-desc">This builds upon the previous code but with a small addition each letter. Which is similar to how the engima worked</h5>
			<form action="/movingkeycipher" >
				<input type="submit" id="mb-2-start" value="Start">
			</form>
		</div>
		<div id="mb-column">
			<h3>The Multistage Cipher</h3>
			<h5 id="mb-desc">This challenges your ability to follow multi-step procedures and use multiple techniques, good luck!</h5>
			<form action="/superenciphercipher">
				<input type="submit" id="mb-3-start" value="Start">
			</form>
		</div>
	</div>
	<!--When the page is loaded a dialog box is opened and shows the leaderboard position that the user is at-->
	<dialog open id="leaderboard">
		<h2>{{leaderboardmessage}}</h2>
		<form method="dialog">
			<button>OK</button>
		  </form>

	</dialog>
</body>
</html>