<!DOCTYPE html>
<html lang="en-GB" id="main">
<head>
	<link rel="stylesheet" href="/style.css">
	<meta charset="UTF-8">
	<link rel="icon" type="image/x-icon" href="/favicon">
	<title>Challenge Completed</title>
	<!--This is a external javascript file for the confetti effect when the page is loaded-->
	<!--With thanks to all at (https://www.npmjs.com/package/canvas-confetti) for this cool effect! -->
	<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.2/dist/confetti.browser.min.js">
	</script>
</head>
<!--The Body Code for the win page
	Autoruns the confetti effect imported from above-->
<body onload="confetti({
	particleCount:2000,
	spread:180,
	ticks:500})">

	<div id="topheader">
		<h3 id="th-title">Welcome {{name}}</h3>
		<h3 id="th-points">You have {{points}} points! </h3>
		<form action="/">
			<input type="submit" id="th-logout" value="Logout">
		</form>
	</div>
    <div id="challenge-body">
        <h1>Well Done {{name}} you have passed {{challengename}} and gained {{challengepoints}} points</h1>
        <button onclick="window.location.href='/launchpad'">Click me</button>

    </div>
</body>